# Garage
S3_ACCESS_KEY="GK35..."
S3_SECRET_KEY="7d37..."

# PostgreSQL
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="new_password"
POSTGRES_DB="postgres"
PGADMIN_MAIL="your@email.com"
PGADMIN_PW="changeit"

# Oracle
ORACLE_PASSWORD="helloworld"
